.action_container {
  position: absolute;
  right: 5%;
  top: 5%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  bottom: 10%;
}

.action_info {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.2em;
  font-weight: 600;
}

.task_list {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.task_input {
  display: flex;
  gap: 1em;
}

.task_input>input {
  border:none;
  border-radius: 0.6em;
  padding-inline: 0.4em;
}

.task_input>button {
  background-color: white;
  border:none;
  border-radius: 0.6em;
  padding: 0.4em 1em;
  font-weight: bold;
  cursor: pointer;
}

.tasks_container {
  height: 18em;
  overflow-y: auto;
}
.task {
  display: flex;
}

.task>svg {
  margin-left:auto;
}

.task {
  font-weight: bold;
}

.sound_button {
  font-size: 2em;
  padding: 0.4em;
  cursor: pointer;
}

.sound_container {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
